<div id="footer">
    <div id="col-5">
        <ul>
            <li>abcd</li>
            <li>abcd</li>
            <li>abcd</li>
            <li>abcd</li>
        </ul>
    </div>
    <div id="col-5">
        <ul>
            <li>abcd</li>
            <li>abcd</li>
            <li>abcd</li>
            <li>abcd</li>
        </ul>
    </div>
    <div id="col-5">
        <img src="https://dukandaronline.com/images/dukandar_logo.png" alt="">
    </div>
    <div id="col-5">
        <ul>
            <li>abcd</li>
            <li>abcd</li>
            <li>abcd</li>
            <li>abcd</li>
        </ul>
    </div>
    <div id="col-5">
        <ul>
            <li>abcd</li>
            <li>abcd</li>
            <li>abcd</li>
            <li>abcd</li>
        </ul>
    </div>
</div>
<script src="/js/bundle.js"></script>