
        <nav class="navbar navbar-expand-lg navbar-light bg-light my-2" style="background-color: white !important;">
            <div class="container-fluid">
              <a class="navbar-brand mx-3" href="#">__</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Dashboard</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Products</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Ratings</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Me</a>
                  </li>
                  

                </ul>
                <%if(!user){ %> 
                <button class="btn btn-outline-success" style="margin-right: 10px;">LogIN</button>
                <button class="btn btn-outline-success">SignUp</button>
                <% }else{ %> 
                  <a class="logout-btn btn btn-outline-success" style="margin-right: 10px;">Logout</a>
                    
                <% } %> 
              </div>
            </div>
          </nav>