<!DOCTYPE html>
  <%- include('partials/head') %> 
  <body style="background-color: white">
  

      <%- include('partials_agent/navbar',{location:"agent"}) %>  
      <div class="mx-5">
        <div class="d-flex align-items-center justify-content-center text-center" style="height: 70vh; font-size: 5vh;">
            Selling on Samaan-Mart has all kinds of tools to help operate your business. Providing you an online store with fresh ideas for a new way to serve your local shoppers. Choose the best package for you with the right features to grow your on-line business.
        </div>

        <div class="row align-items-center imgRow m-4 p-4 mb-5">
            
            
            <!-- text part  -->
            <div class="col-sm-6">
                <h1>Take Orders Online</h1>
                <p>
                  No Hardware Required! Start taking orders online from the get go and watch your sales increase like never before.
                </p>
              </div>
            
            <!-- img part  -->
            <div class="col-sm-6 d-flex justify-content-center">
              <img
                class="img-fluid"
                src="https://dukandaronline.com/images/features/Online%20Point%20of%20Sale.svg"
                style="max-width: 80%; height: auto"
              />
            </div>
            <!-- img part  -->

          </div>
        </div>
        <footer>
          <%- include('partials/footer') %>
      </footer>   
  </body>
</html>
