<!DOCTYPE html>
<%- include('partials/head') %> 
<body style="background-color: white">
    <div class="error">
        <div class="error__title">
            <h2 class="heading-secondary heading-secondary--error">
                Uh oh! Something went wrong!
            </h2>
        </div>
        <div class="error__msg">
            <%=msg%>
        </div>
    </div>    
    
    <script src="/js/bundle.js"></script>
</body>
