<!DOCTYPE html>
    <%- include('partials/head') %> 
<body>
    
    <%- include('partials/navbar',{location:"home"}) %>
    <%- include('partials/scrollToTop')%>

    <div class="container col-lg-8 col-md-12 col-sm-12 mb-5 mt-4">
      
      <h1 id="featured-stores-heading" class="mt-4 mb-3">Frequently Asked Questions</h1>

      <p style="text-align: justify;"><strong>Why should I sell on Samaan Mart?</strong></p>
      <p style="text-align: justify;">Samaan Mart provides you a digital presence on its platform so that you can go digital free of cost and increase your sales exponentially.</p>

      <p style="text-align: justify;"><strong>Why should I sell on Samaan Mart?</strong></p>
      <p style="text-align: justify;">Samaan Mart provides you a digital presence on its platform without incurrig any cost. You can start receiving orders from your customers as soon as you complete the registration process.</p>

    </div>

    <footer class="mt-5">
        <%- include('partials/footer') %>
    </footer>   
    <input type="hidden" id="proId">
    <input type="hidden" id="aid">
  <script>
    function fill(proId){
      document.getElementById("proId").value=proId;
    }
    function fill1(aid){
      document.getElementById("aid").value=aid;
    }
  </script>

</body>
</html>