<!DOCTYPE html>
    <%- include('partials/head') %> 
    <body style="background-color: white">
        <%- include('partials/navbar') %>     
        yes working
        <script src="/js/bundle.js"></script>
    welc
        
    </body>
</html>
