<!DOCTYPE html>
<%- include('partials/head') %> 
<body style="background-color: white">
    <%- include('partials/navbar',{location:"orders"}) %>     
    <footer>
        <%- include('partials/footer') %>
    </footer>   
</body>
</html>